* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #172b4d;
  background-color: rgb(34, 140, 213);
  white-space: nowrap;

}


.App {
  background: linear-gradient(to bottom, #0000003d, #0000 180px, #0000);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: fit-content;
  height: 100%; */
}

.list-wrapper {
  padding: 20px;
  gap: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;

}

.dragged-item {
  position: absolute;
  pointer-events: none;

}

.dropdown-toggle::after {
  display: none;
}