* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #172b4d;
  background-color: rgb(34, 140, 213);
  white-space: nowrap;
}


#root {
  min-height: 100vh;
  background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/images/backgrounds/gradients/snow.svg);
}

.App {
  display: flex;
  align-items: flex-start;
}

.canvas {
  background: linear-gradient(to bottom, #0000003d, #0000 180px, #0000);
  bottom: 0;
  left: 0;
  margin-bottom: 8px;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
}

.list-wrapper {
  padding: 20px;
  width: fit-content;
  display: flex;
  align-items: flex-start;
}

.dragged-item {
  position: absolute;
  pointer-events: none;

}

.dropdown-toggle::after {
  display: none;
}